<section class="table">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h3>Как заказать интерактивный стол?</h3>
        <ul>
          <li>
            <div>1</div>
            <p>Отправляете заявку и получаете смету через 15 минут <span class="arrow_table"></span></p>
          </li>
          <li>
            <div>2</div>
            <p>Корректируем и утверждаем цену
              и характеристики сметы</p>
          </li>
          <li>
            <div>3</div>
            <p>Подписываем договор
              и Вы вносите аванс
            </p>
          </li>
          <li>
            <div>4</div>
            <p>После готовности стола, вносите остаток
              и получаете стол у себя на адресе</p>
          </li>
          <li class="line"></li>
        </ul>
      </div>

      <div class="col-md-6 col-md-offset-1 col-sm-6">
        <div class="form">
          <h3>Отправить заявку сейчас</h3>
          <input class="input_form" type="text" placeholder="Телефон (необязательно)">
          <input class="input_form" type="text" placeholder="Электронная почта (для обратной связи)">
          <textarea class="textarea_form" name="" id="" placeholder="Текст Вашего сообщения"></textarea>
          <a href="#" class="btn-blue">Отправить сообщение</a>
        </div>
      </div>
    </div>
  </div>
</section>