<section class="table">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <h3>Как заказать интерактивный стол?</h3>
                <ul>
                    <li>
                        <div>1</div>
                        <p>Отправляете заявку и получаете смету через 15 минут <span class="arrow_table"></span></p>
                    </li>
                    <li>
                        <div>2</div>
                        <p>Корректируем и утверждаем цену
                            и характеристики сметы</p>
                    </li>
                    <li>
                        <div>3</div>
                        <p>Подписываем договор
                            и Вы вносите аванс
                        </p>
                    </li>
                    <li>
                        <div>4</div>
                        <p>После готовности стола, вносите остаток
                            и получаете стол у себя на адресе</p>
                    </li>
                    <li class="line"></li>
                </ul>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-6">
                <form class="form"
                      #f="ngForm"
                      (ngSubmit)="onSubmit(f)"
                      novalidate>
                    <h3>Отправить заявку сейчас</h3>
                    <input class="input_form"
                           type="text"
                           placeholder="Телефон (необязательно)"
                           [textMask]="{mask: phoneM}"
                           name="phone"
                           ngModel
                           #phone="ngModel">
                    <input class="input_form"
                           type="text"
                           placeholder="Электронная почта (для обратной связи)"
                           name="email"
                           #email="ngModel"
                           ngModel
                           email
                           required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div class="alert-danger"
                             *ngIf="email.errors.required">Требуется емейл.
                        </div>
                        <div class="alert-danger"
                             *ngIf="email.errors.email">Не валидный емейл
                        </div>
                    </div>
                    <textarea class="textarea_form"
                              id=""
                              placeholder="Текст Вашего сообщения"
                              ngModel
                              name="message"
                              #message="ngModel"
                    ></textarea>
                    <p *ngIf="messageSend"
                       class="alert alert-success">
                        {{messageSend.message}}
                    </p>

                    <!--[disabled]="f.invalid"-->

                    <app-button [disabled]="f.invalid"
                                [styles]="{'background-color': '#0093d1', 'color': '#fff'}"
                                [hover]="{'background-color': 'transparent', 'color': '#0093d1'}">
                        Отправить сообщение
                    </app-button>
                </form>
            </div>
        </div>
    </div>
</section>
