h2{
    margin-bottom: 30px;
}
h3{
    font-size: 22px;
    color: black;
    margin-bottom: 14px;
    margin-top: 20px;
}
p{
    color: #333;
    font-size: 14px;
}
.price_f{
    color: black;
    font-family: 'PTSans-Bold';
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.input_form {
    height: 50px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.input_form{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.btn-blue{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.btn-present{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.present_wrap{
    margin-top: 30px;
}
.present_wrap .present{
    vertical-align: middle;
    margin-left: 20px;
    display: inline-block;
    margin-top: 6px;
    cursor: pointer;
    color: #0093d1;
}
.present_wrap + p{
    margin-top: 30px;
}
.my_img_main{
    max-width: 100%;
}
.my_img_main img{
    width: 100%;
}
.radio_block{
    display: block;
    cursor: pointer;
}

.radio_wrap {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 6px;
}

.radio_wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #0093d1;
    font-size: 14px;
    text-align: center;
    padding: 2px 4px;
}

.radio_wrap input:checked ~ .checkmark {
    background-color: #0093d1;
    color: #fff;
}

.popup_2{
    max-width: 720px;
    background-color: #fff;
    text-align: center;
    margin: 0 30px;
}
.popup_2 h2{
    font-family: 'PTSans-Bold';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.popup_2 p{
    margin-top: 20px;
    font-family: 'PTSans-Bold';
    font-size: 16px;
}
.popup_2 h3{
    font-family: 'PTSans-Bold';
    font-size: 30px;
    line-height: 30px;
}

.popup_present{
    padding: 10px;
}

.animCalc {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrap_calc{
    margin-bottom: 100px;
    margin-top: 40px;
}