<div class="wrap_calc"
     id="catalog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{pageData.calc?.title }}
                </h2>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="my_img_main">
                    <img src="{{pageData.calc?.img}}" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">

                <h3>Базовые характеристики (не изменяются)</h3>
                <p>Защитный экран (каленое стекло 5 мм)</p>
                <p>Регулируемый угол наклона</p>
                <p>Цвет: Любой (таблица RAL)</p>
                <p>Материал: МДФ покрытый пластиком и акрилом"</p>

                <form #f="ngForm"
                      (ngSubmit)="onSubmit(f)"
                      novalidate>
                    <h3>Выберите тип процессора</h3>
                    <label *ngFor="let t of calc['types']"
                           class="radio_block">
                        <input type="radio"
                               name="types"
                               [value]="t.price"
                               [(ngModel)]="typesDefault"
                               (ngModelChange)="choose(t, 'types')">
                        <span>{{t.name}}</span>
                    </label>

                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Диагональ экрана</h3>
                            <label *ngFor="let d of calc['diagonal']"
                                   class="radio_wrap">
                                <input type="radio"
                                       name="diagonal"
                                       [value]="d.price"
                                       [(ngModel)]="diagonalDefault"
                                       (ngModelChange)="choose(d, 'diagonal')">
                                <span class="checkmark">{{d.name}}"</span>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <h3>Кол-во касаний (?)</h3>
                            <label *ngFor="let t of calc['touch']"
                                   class="radio_wrap">
                                <input type="radio"
                                       name="touch"
                                       [value]="t.price"
                                       [(ngModel)]="touchDefault"
                                       (ngModelChange)="choose(t, 'touch')">
                                <span class="checkmark">{{t.name}}</span>
                            </label>
                        </div>
                    </div>

                    <h3>Эксклюзивные опции</h3>
                    <label *ngFor="let o of calc['options']"
                           class="radio_block">
                        <input type="radio"
                               name="options"
                               [value]="o.price"
                               [(ngModel)]="optionsDefault"
                               (ngModelChange)="choose(o, 'options')">
                        <span>{{o.name}}</span>
                    </label>

                    <div class="price_f">ИТОГО: {{valueResult}} ₽</div>

                    <input class="input_form"
                           type="text"
                           placeholder="Номер телефона"
                           [textMask]="{mask: mask}"
                           pattern="8((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"
                           name="phone"
                           ngModel
                           #phone="ngModel"
                           required>

                    <!--[disabled]="f.invalid"-->
                    <app-button [disabled]="f.invalid"
                                data-toggle="modal"
                                [styles]="{'background-color': '#0093d1', 'color': '#fff'}"
                                [hover]="{'background-color': 'transparent', 'color': '#0093d1'}">
                        Выбрать и заказать
                    </app-button>
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                         class="alert-danger">
                        <div *ngIf="phone.errors.required">
                            Phone is required.
                        </div>
                        <div *ngIf="phone.errors.pattern">
                            Phone is not valid.
                        </div>
                    </div>
                    <div *ngIf="message"
                         class="alert alert-{{message.status}}">
                        {{message.message}}
                    </div>
                </form>
                <div *ngIf="page !== 'main'"
                     class="present_wrap">
                    <app-button data-toggle="modal"
                                [attr.data-target]="'#kids'"
                                [styles]="{
                            'width': '220px',
                             'height': '40px',
                             'background-color': '#dc373d',
                             'border-radius': '5px',
                             'display': 'inline-block',
                             'padding': '0',
                             'border':'none'
                             }">
                        <img [ngStyle]="{
                        'margin-top': '-14px'
                         } " src="/assets/img/btnPresent.png" alt="">
                        <span [ngStyle]="{
                        'vertical-align': 'top',
                         'color': '#fff',
                         'display': 'inline-block',
                         'text-decoration': 'underline',
                         'line-height': '40px',
                         'font-size': '14px'
                         }">Смотреть подарки</span>
                    </app-button>

                    <span data-toggle="modal"
                          [attr.data-target]="'#kids'"
                          class="present">+ подарок на сумму 19 800 Р</span>
                </div>

                <p *ngIf="page !== 'main'">{{pageData.calc?.text}}</p>

            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<app-popup [popup]="'kids'"
           id="kidsPop">

    <div class="popup_2 popup_present">
        <h2>ВАШ ПОДАРОК ПРИ ЗАКАЗЕ СЕГОДНЯ:</h2>
        <p>3 любых пакета развивающих программ и игр от Экзамен Медиа.</p>

        <img *ngIf="!hide"
             [ngStyle]="{
                                'margin': '20px auto',
                                'display': 'block'
                             }"
             src="/assets/img/loading.gif" alt="">

        <app-slider (checkedB)="onCheck($event)"
                    *ngIf="hide"
                    [template]="'slick-popup1'"
                    [config]="{
                                dots: false,
                                infinite: false,
                                speed: 300,
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                arrows: true,
                                responsive: [
                                    {
                                        breakpoint: 1200,
                                        settings: {
                                            slidesToShow: 3,
                                            slidesToScroll: 3,
                                            infinite: false,
                                            dots: false
                                        }
                                    },
                                    {
                                        breakpoint: 767,
                                        settings: {
                                            slidesToShow: 2,
                                            slidesToScroll: 2
                                        }
                                    },
                                    {
                                        breakpoint: 480,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }
                                ]
                            }"
                    [slides]="slidesKids"></app-slider>

        <h3>Выбрано: {{presents.length}}</h3>

        <div class="btn_wrap">
            <app-button [styles]="{'background-color': '#0093d1', 'color': '#fff'}"
                        [hover]="{'background-color': 'transparent', 'color': '#0093d1'}"
                        (click)="sendPresent()">
                Запомнить подарки и перейти к выбору стола
            </app-button>
        </div>
    </div>

</app-popup>