/* You can add global styles to this file, and also import other style files */
html,
body{
    font-family: 'PTSans-Regular';
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 36px;
    font-family: 'PTSans-Bold';
    text-align: center;
}

input,
a,
button,
textarea{
    outline: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:focus, a:hover{
    text-decoration: none;
}

.btn_wrap {
    text-align: center;
    margin-top: 18px;
}
.slick-slide {
    outline: none;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.slick-dots li.slick-active{
    background-color: #0093d1;
}
.slick-dots li button{
    display: none;
}
.slick-process__slide h3 {
    font-size: 20px;
    font-family: 'PTSans-Bold';
}
.slick-process__slide p {
    margin-top: 20px;
}
.slick-prev:before, .slick-next:before{
    color: #0093d1;
}

.slick-confidence__slide img {
    margin: 0 auto;
    max-height: 200px;
}


.slick-prev,
.slick-next{
    z-index: 99;
}
.slick-prev {
    left: 0;
}
.slick-next{
    right: 0;
}

