<section class="my-model"
         [@calculator]="calcAnim">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-3 col-sm-7 col-sm-offset-5 my-model-calc">
                <h3>Вы также можете собрать собственную модель по Вашим требованиям.</h3>
                <p>Например Вы можете выбрать диагональ экрана, поставить сенсорную пленку, моторизированный кронштейн
                    (вверх вниз), регулировку наклона от 0 до 90 и много другое! Соберите свой вариант смарт стола прямо
                    сейчас!</p>
                <app-button (click)="onCalc()"
                            [styles]="{'background-color': 'transparent', 'color': '#0093d1'}"
                            [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                    Собрать свой вариант стола
                </app-button>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="animCalc"
         [@calculator]="animCalc">
        <app-calc [page]="page"
                  [pageData]="pageData"></app-calc>
        <div class="clearfix"></div>
    </div>

</section>