.my-model-calc {
    margin-top: 60px;
    text-align: center;
}

.my-model-calc h3 {
    font-size: 26px;
    font-family: 'PTSans-Bold';
}

.my-model-calc p {
    max-width: 600px;
    font-size: 16px;
    /*margin-top: 6px;*/
    /*margin-bottom: 28px;*/
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .my-model-calc {
        margin-top: 10px;
    }
    .my-model{
        margin-bottom: 10px;
    }
}
