<section class="my-model">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Соберите свою модель детского сенсорного стола</h2>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="my_img_main">
          <img src="/assets/img/mymodel.png" alt="">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h3>Базовые характеристики (не изменяются)</h3>
        <p>Защитный экран (каленое стекло 5 мм)</p>
        <p>Регулируемый угол наклона</p>
        <p>Цвет: Любой (таблица RAL)</p>
        <p>Материал: МДФ покрытый пластиком и акрилом"</p>

        <h3>Выберите тип процессора</h3>
        <div class="radio_block">
          <input type="radio">
          <span>Intel i3, 8GB RAM, SSD 120</span>
        </div>
        <div class="radio_block">
          <input type="radio">
          <span>Intel i7, 16 Gb RAM</span>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <h3>Диагональ экрана</h3>
            <div class="prices">
              <span class="active">32"</span>
              <span>42"</span>
              <span>49"</span>
              <span>55"</span>
              <span>65"</span>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>Кол-во касаний (?)</h3>
            <div class="prices">
              <span class="active">2-6</span>
              <span>10</span>
              <span>16</span>
              <span>32</span>
              <span>40</span>
            </div>
          </div>
        </div>

        <h3>Эксклюзивные опции</h3>
        <div class="radio_block">
          <input type="radio">
          <span>Монолитный корпус</span>
        </div>
        <div class="radio_block">
          <input type="radio">
          <span>Механизированный поворотный механизм</span>
        </div>

        <div class="price_f">ИТОГО: 131 600 ₽</div>

        <input class="input_form" type="text" placeholder="Номер телефона">
        <a href="#" class="btn-blue">Выбрать и заказать</a>

        <div class="present_wrap">
          <a href="#" class="btn-present">
            <img src="/assets/img/btnPresent.png" alt="">
            <span>Смотреть подарки</span>
          </a>

          <a href="#" class="present">+ подарок на сумму 19 800 Р</a>
        </div>

        <p>На данном этапе выбираются комплектующие, чтобы обеспечить необходимую для ваших задач производительность сенсорного стола. Довольно часто, используем стандартные комбинации процессора, оперативной памяти и других комплектующих.</p>


      </div>
    </div>
  </div>
</section>