<section class="confidence">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Нам доверяют более 590 компаний</h2>

                <app-slider [template]="'confidence'"
                            [config]="{
                                dots: false,
                                infinite: true,
                                speed: 300,
                                slidesToShow: 7,
                                slidesToScroll: 7,
                                arrows: true,
                                responsive: [
                                    {
                                        breakpoint: 1200,
                                        settings: {
                                            slidesToShow: 5,
                                            slidesToScroll: 5,
                                            infinite: false,
                                            dots: false
                                        }
                                    },
                                    {
                                        breakpoint: 600,
                                        settings: {
                                            slidesToShow: 2,
                                            slidesToScroll: 2
                                        }
                                    },
                                    {
                                        breakpoint: 480,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }
                                ]
                            }"
                            [slides]="slider"></app-slider>
            </div>
            <div class="clearfix"></div>
            <div class="confidence-line"></div>
            <div class="clearfix"></div>
            <div class="col-md-5 col-sm-12"
                 [innerHTML]="contentGallery[0]">
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12">
                <h3>Наше производство</h3>
                <ngx-gallery [options]="galleryOptions"
                             [images]="galleryImages0"></ngx-gallery>
                <div class="clearfix"></div>
                <!--<ngx-gallery [options]="galleryOptions"-->
                             <!--[images]="galleryImages1"></ngx-gallery>-->
                <!--<div class="clearfix"></div>-->
                <!--<ngx-gallery [options]="galleryOptions"-->
                             <!--[images]="galleryImages2"></ngx-gallery>-->
                <!--<div class="clearfix"></div>-->
                <!--<ngx-gallery [options]="galleryOptions"-->
                             <!--[images]="galleryImages3"></ngx-gallery>-->

            </div>

            <div class="col-xs-12"
                 [innerHTML]="contentGallery[1]">
            </div>
        </div>
    </div>
</section>
