
.confidence {
    margin-top: 54px;
    background-image: url('/assets/img/confidenceBack.jpg');
    background-repeat: no-repeat;
    background-color: #ebf5ff;
    background-size: cover;
    padding-bottom: 56px;
}

.confidence h2 {
    margin-top: 24px;
}

.slick-confidence {
    margin-top: 10px;
}

.slick-prev {
    left: -14px;
}

.slick-next {
    right: -14px;
    transform: rotate(180deg);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 9;
    font-size: 30px;
    margin-top: -16px;
    color: #0093d1;
}

.slick-confidence__slide {
    outline: none;
    text-align: center;
}

.slick-confidence__slide img {
    margin: 0 auto;
    width: 100%;
}

.confidence-line {
    height: 9px;
    background: #fff;
    margin-top: 28px;
    margin-bottom: 32px;
}


:host ::ng-deep .confidence h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
:host ::ng-deep .confidence p {
    margin-top: 18px;
}

:host ::ng-deep .confidence ul {
    margin-top: 38px;
    margin-left: 84px;
    margin-bottom: 38px;
}

:host ::ng-deep .confidence ul li:nth-child(1) {
    background-image: url('/assets/img/confidence1.png');
}

:host ::ng-deep .confidence ul li:nth-child(2) {
    background-image: url('/assets/img/confidence2.png');
}

:host ::ng-deep .confidence ul li:nth-child(3) {
    background-image: url('/assets/img/confidence3.png');
}

:host ::ng-deep .confidence ul li:nth-child(4) {
    background-image: url('/assets/img/confidence4.png');
}

:host ::ng-deep .confidence ul li {
    padding-left: 44px;
    font-size: 14px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: 0 4px;
}

:host ::ng-deep .confidence ul li p {
    margin: 0;
    font-family: 'PTSans-Bold';
}

@media screen and (max-width: 991px) {
    :host /deep/ .confidence ul{
        margin-top: 30px;
        margin-left: 0;
        font-size: 0;
        margin-bottom: 0;
    }
    :host /deep/ .confidence ul li{
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .confidence{
        margin-top: 10px;
    }
    .confidence h2{
        margin-top: 50px;
    }
    :host /deep/ .confidence ul {
        margin-top: 10px;
        margin-left: 0 !important;
        font-size: 0;
    }
    :host /deep/ .confidence ul li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}