.process {
    background-image: url('/assets/img/processBack.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 58px;
    padding-bottom: 76px;
}

.process h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.slick-process__slide h3 {
    font-size: 20px;
    font-family: 'PTSans-Bold';
}

.slick-process__slide p {
    margin-top: 20px;
}

.slick-process__slide img {
    max-width: 100%;
    border-radius: 6px;
}

.slick-process__slide .btn {
    margin-top: 52px;
}

.slick-process__slide {
    outline: none;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.dot-process {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.slick-process .slick-active .dot-process {
    background-color: #0093d1;
}

.btn-proc {
    width: 100%;
}

.slick-process {
    margin-top: 66px;
}

.process .active {
    background: #0093d1;
    color: #fff;
}