.process {
    background-image: url('/assets/img/processBack.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 58px;
    padding-bottom: 76px;
}

.process h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}