<section class="process">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Процесс сборки интерактивных столов</h2>

                <div class="col-md-3 col-sm-6">
                    <app-button class="btn-proc"
                                data-attr="0"
                                [styles]="{
                                  'background-color': 'transparent',
                                  'color': '#0093d1',
                                  'width': '100%',
                                   'white-space': 'normal',
                                   'line-height': '20px'
                                }"
                                [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                        <b>1 шаг:</b> Выбор начинки
                    </app-button>
                </div>
                <div class="col-md-3 col-sm-6">
                    <app-button class="btn-proc"
                                data-attr="1"
                                [styles]="{
                                  'background-color': 'transparent',
                                  'color': '#0093d1',
                                  'width': '100%',
                                   'white-space': 'normal',
                                   'line-height': '20px'
                                }"
                                [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                        <b>2 шаг:</b> Изготовление корпуса
                    </app-button>
                </div>
                <div class="col-md-3 col-sm-6">
                    <app-button class="btn-proc"
                                data-attr="2"
                                [styles]="{
                                  'background-color': 'transparent',
                                  'color': '#0093d1',
                                  'width': '100%',
                                   'white-space': 'normal',
                                   'line-height': '20px'
                                }"
                                [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                        <b>3 шаг:</b> Сборка
                    </app-button>
                </div>
                <div class="col-md-3 col-sm-6">
                    <app-button class="btn-proc"
                                data-attr="3"
                                [styles]="{
                                  'background-color': 'transparent',
                                  'color': '#0093d1',
                                  'width': '100%',
                                   'white-space': 'normal',
                                   'line-height': '20px'
                                }"
                                [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                        <b>4 шаг:</b> Программирование и тестирование
                    </app-button>
                </div>

                <div class="clearfix"></div>

                <app-slider [template]="'process'"
                            [config]="{
                                dots: true,
                                infinite: false,
                                speed: 300,
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrows: false
                            }"
                            [slides]="slider"></app-slider>

            </div>
        </div>
    </div>
</section>