
footer{
    height: 710px;
    width: 100%;
    border-radius: 100% 100% 0px 0px / 30px 50px 0px 0px;
    overflow: hidden;
}
.map{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}
.back_footer{
    background-color: rgba(0,147,209, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    left: 0;
}

address{
    width: 350px;
    height: 365px;
    opacity: 0.8;
    background-color: #00573d;
    border-radius: 5px;
    box-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    font-style: normal;
    color: #fff;
    padding: 20px 30px;
}

address h3{
    font-size: 36px;
    font-family: 'PTSans-Bold';
}
address .number{
    font-size: 30px;
    font-family: 'PTSans-Bold';
    color: #fff;
    margin-top: 30px;
    display: block;
}
address .mail{
    font-size: 18px;
    color: #ebf5ff;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
}
address p{
    font-size: 16px;
}

.back_footer2{
    border-radius: 400px 400px 0px 0px / 13px 8px 0px 0px;
    background-color: rgba(0,147,209, .8);
    width: 100%;
    height: 164px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 0;
    padding-top: 80px;
}
.back_footer2 p{
    font-size: 14px;
    color: #fff;
}

.back_footer2 a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.back_footer2 a:last-child{
    margin-right: 0;
}
.back_footer2 a:nth-child(1){
    background-color: #4c75a3;
}
.back_footer2 a:nth-child(2){
    background-color: #3b5998;
}
.back_footer2 a:nth-child(3){
    background-color: #55acee;
}
.back_footer2 a:nth-child(4){
    background-color: #b31c2f;
}