<header class="header-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="logo_wrap">
                    <a href="#" class="logo"></a>
                    <i class="fa fa-bars menu_bar fa-2x" aria-hidden="true"></i>
                    <div class="clearf"></div>
                    <ul class="menu_m menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Детский стол</a></li>
                        <li><a href="#">Стол для логопеда</a></li>
                        <li><a href="#">Для выставок и презентаций</a></li>
                        <li><a href="#">Для коммерческих целей</a></li>
                        <li><a href="#">Мультитач стол</a></li>
                        <li><a href="#">Наши контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearf"></div>
            <div class="col-md-3 col-sm-6">
                <a href="tel:{{contacts?.phoneNumber}}" class="number">{{contacts?.phoneNumber}}</a>
                <p>Отвечаем ежедневно с {{contacts?.workTimeFrom}} до {{contacts?.workTimeTo}}</p>
            </div>
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="contact">
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <a href="mailto:{{contacts?.email}}">{{contacts?.email}}</a>
                </div>
                <p>Пишите круглосуточно!</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="contact"
                     pageScroll
                     href="#map">
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <span>Наш адрес</span>
                </div>
                <p>Доставка по всей России!</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <app-button data-toggle="modal"
                            data-target="#call"
                            [styles]="{'background-color': 'transparent', 'color': '#0093d1'}"
                            [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                    Отправить заявку
                </app-button>
            </div>
        </div>
    </div>
</header>

<app-popup [popup]="'call'">
    <app-popup-form [goods]="goods"
                    [popup]="'call'">
    </app-popup-form>
</app-popup>