.header-menu {
    margin: 38px 0;
}

.logo {
    width: 221px;
    height: 64px;
    background-image: url('/assets/img/logo.png');
    background-position: 0 0;
    background-size: cover;
    display: block;
}

.number {
    font-family: 'PTSans-Bold';
    font-size: 30px;
    color: #333;
}

.header-menu p {
    font-size: 14px;
}

.contact i {
    color: #999;
}

.contact a,
.contact span {
    color: #0093d1;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.contact a:hover,
.contact span:hover {
    text-decoration: none;
}

ul.menu_m {
    background-color: #0079c2;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 50px;
    border-radius: 4px;
    border: 1px solid #fff;
}

.logo_wrap {
    position: relative;
}

.logo_wrap ul.menu_m li {
    display: block;
    margin: 10px 0;
}

.menu_m {
    display: none;
}

.show {
    display: block;
}

ul.menu {
    margin-top: 46px;
    margin-bottom: 20px;
}

ul.menu li {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

ul.menu li:last-child {
    margin-right: 0;
}

ul.menu li a,
ul.menu li span {
    font-size: 16px;
    border-radius: 15px;
    color: #fff;
    padding: 2px 10px;
    font-family: 'PTSans-Bold';
    -webkit-transition: .25s background-color;
    -moz-transition: .25s background-color;
    -ms-transition: .25s background-color;
    -o-transition: .25s background-color;
    transition: .25s background-color;
    cursor: pointer;
}

ul.menu li a:hover {
    background-color: rgba(255, 255, 255, .1);
}

@media screen and (max-width: 1199px) {
    .number {
        font-size: 20px;
    }

    .contact a,
    button.btn {
        font-size: 14px;
    }

    :host /deep/ .btn {
        font-size: 14px;
        padding: 0 10px !important;
    }

    .contact i {
        font-size: 14px;
    }

}

@media screen and (max-width: 991px) {
    .header-menu {
        margin: 14px 0;
    }
}

@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }

    .clearf {
        clear: both;
    }

    .header-menu {
        text-align: center;
    }

    .logo {
        float: right;
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .header-menu .clearfix{
        display: none;
    }
}

@media screen and (min-width: 766px) {
    .menu_bar {
        display: none;
    }

    .menu_m {
        display: none !important;
    }
}
