<header class="header-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="logo_wrap">
                    <a [routerLink]="'/'"
                       [routerLinkActive]="['active']"
                       [routerLinkActiveOptions]="{ exact: true }"
                       class="logo"></a>
                    <i class="fa fa-bars menu_bar fa-2x"
                       aria-hidden="true"
                       (click)="menu = (menu === 'block' ) ? 'none': 'block'"></i>
                    <div class="clearf"></div>
                    <ul class="menu_m menu"
                        [ngStyle]="{'display': menu}">
                        <li><a [routerLink]="'/'"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Главная</a></li>
                        <li><a [routerLink]="['/dlja-detej']"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Детский стол</a></li>
                        <li><a [routerLink]="['/interaktivnyj-logopedicheskij-stol']"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Стол для логопеда</a></li>
                        <li><a [routerLink]="['/arenda']"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Для выставок и презентаций</a></li>
                        <li><a [routerLink]="['/business']"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Для коммерческих целей</a></li>
                        <li><a [routerLink]="['/multitouch']"
                               [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }">Мультитач стол</a></li>
                        <li><span pageScroll
                                  href="#map">Наши контакты</span></li>
                    </ul>
                </div>
            </div>
            <div class="clearf"></div>
            <div class="col-md-3 col-sm-6">
                <a href="tel:{{contacts?.phoneNumber}}" class="number">{{contacts?.phoneNumber | phone}}</a>
                <p>Отвечаем ежедневно с {{contacts?.workTimeFrom}} до {{contacts?.workTimeTo}}</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="contact">
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <a href="mailto:{{contacts?.email}}">{{contacts?.email}}</a>
                </div>
                <p>Пишите круглосуточно!</p>
            </div>
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="contact"
                     pageScroll
                     href="#map">
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <span>Наш адрес</span>
                </div>
                <p>Доставка по всей России!</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <app-button data-toggle="modal"
                            data-target="#call"
                            [styles]="{'background-color': 'transparent', 'color': '#0093d1'}"
                            [hover]="{'background-color': '#0093d1', 'color': '#fff'}">
                    Отправить заявку
                </app-button>
            </div>
        </div>
    </div>
</header>

<app-popup [popup]="'call'">
    <app-popup-form [goods]="goods"
                    [popup]="'call'">
    </app-popup-form>
</app-popup>