<header class="header-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="logo_wrap">
                    <a href="#" class="logo"></a>
                    <i class="fa fa-bars menu_bar fa-2x" aria-hidden="true"></i>
                    <div class="clearf"></div>
                    <ul class="menu_m menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Детский стол</a></li>
                        <li><a href="#">Стол для логопеда</a></li>
                        <li><a href="#">Для выставок и презентаций</a></li>
                        <li><a href="#">Для коммерческих целей</a></li>
                        <li><a href="#">Мультитач стол</a></li>
                        <li><a href="#">Наши контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearf"></div>
            <div class="col-md-3 col-sm-6">
                <a href="tel:+8 800 200 00 79" class="number">8 800 200 00 79</a>
                <p>Отвечаем ежедневно с 10 до 18</p>
            </div>
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="contact">
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <a href="mailto:info@smartstol.ru">info@smartstol.ru</a>
                </div>
                <p>Пишите круглосуточно!</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="contact">
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <a href="mailto:info@smartstol.ru">Наш адрес</a>
                </div>
                <p>Доставка по всей России!</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <app-btn [styles]="{'background-color': 'transparent'}"
                         [hover]="{'background-color': '#0093d1', 'color': '#fff'}">Отправить заявку</app-btn>
            </div>
        </div>
    </div>
</header>