<app-header></app-header>
<router-outlet></router-outlet>

<app-footer></app-footer>
<go-top-button   [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': '#0093d1',
                    'border': '5px solid',
                    'line-height': '20px',
                    'background-color': '#fff',
                    'z-index': '999'
                 }">
    <i class="glyphicon glyphicon-menu-up"></i>
</go-top-button>