
.seo_wrap{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
:host /deep/ .seo_wrap h2{
    font-size: 16px;
    color: #666;
    margin-bottom: 26px;
    margin: 20px 0;
}
:host /deep/ .seo_wrap p{
    color: #999;
    font-size: 14px;
}
:host /deep/ .seo_wrap p:nth-child(3) {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    :host /deep/ .noMobile {
        display: none;
    }
}