<section class="background">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="menu hidden-xs">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Детский стол</a></li>
                    <li><a href="#">Стол для логопеда</a></li>
                    <li><a href="#">Для выставок и презентаций</a></li>
                    <li><a href="#">Для коммерческих целей</a></li>
                    <li><a href="#">Мультитач стол</a></li>
                    <li><a href="#">Наши контакты</a></li>
                </ul>
                <div class="line"></div>

                <div class="main-text">
                    <h3>Интерактивные сенсорные столы
                        и панели на заказ</h3>
                    <p>от 95 000 ₽</p>
                    <span>с бесплатной доставкой по России</span>

                    <app-button data-toggle="modal"
                                data-target="#video"
                                [styles]="{
                          'color': '#fff',
                          'border': '1px solid #fff',
                          'margin': '40px auto 60px auto',
                          'max-width': '320px',
                          'display': 'block',
                          'backgroundColor': 'transparent'
                          }">
                        <i class="fa fa-caret-square-o-right fa-lg" aria-hidden="true"></i>
                        <span>Посмотреть видеодемонстрацию</span>
                    </app-button>

                    <a href="#catalog"
                       pageScroll>
                        Перейти к каталогу столов
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<app-popup [popup]="'video'">
    <div class="modal-dialog video-dialog">
        <div class="modal-content">
            <!--<iframe width="100%"-->
                    <!--height="100%"-->
                    <!--src="https://www.youtube.com/embed/dYcYY5rfJzE?rel=0"-->
                    <!--frameborder="0"-->
                    <!--allowfullscreen>-->
            <!--</iframe>-->
        </div>
    </div>
</app-popup>
