<section class="background"
         [style.background-image]="getBackground(pageData.img || '')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="menu hidden-xs">
                    <li><a [routerLink]="'/'"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Главная</a></li>
                    <li><a [routerLink]="['/dlja-detej']"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Детский стол</a></li>
                    <li><a [routerLink]="['/interaktivnyj-logopedicheskij-stol']"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Стол для логопеда</a></li>
                    <li><a [routerLink]="['/arenda']"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Для выставок и презентаций</a></li>
                    <li><a [routerLink]="['/business']"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Для коммерческих целей</a></li>
                    <li><a [routerLink]="['/multitouch']"
                           [routerLinkActive]="['active']"
                           [routerLinkActiveOptions]="{ exact: true }">Мультитач стол</a></li>
                    <li><span pageScroll
                              href="#map">Наши контакты</span></li>
                </ul>

                <div class="line"></div>

                <div class="main-text">
                    <h3>{{pageData.logo}}</h3>
                    <p *ngIf="pageData.price">от {{pageData.price}} ₽</p>
                    <span>с бесплатной доставкой по России</span>

                    <app-button data-toggle="modal"
                                data-target="#video"
                                [styles]="{
                          'color': '#fff',
                          'border': '1px solid #fff',
                          'margin': '40px auto 60px auto',
                          'max-width': '320px',
                          'display': 'block',
                          'backgroundColor': 'transparent'
                          }"
                                [hover]="{
                                    'backgroundColor': '#0093d1'
                          }"
                    >
                        <i class="fa fa-caret-square-o-right fa-lg" aria-hidden="true"></i>
                        <span>Посмотреть видеодемонстрацию</span>
                    </app-button>

                    <a href="#catalog"
                       pageScroll>
                        Перейти к каталогу столов
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<app-popup [popup]="'video'">
    <div class="video_popup_wrap">
        <!--<iframe width="100%"-->
                <!--height="100%"-->
                <!--src="https://www.youtube.com/embed/dYcYY5rfJzE?rel=0"-->
                <!--frameborder="0"-->
                <!--allowfullscreen>-->
        <!--</iframe>-->
    </div>
</app-popup>
