<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="faq_wrap">
          <h2>FAQ (Частые вопросы клиентов)</h2>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <span></span>
                    <span>Мне необходима доставка в другой регион - сколько это стоит?</span>
                  </div>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">Доставка в другие регионы осуществляется абсолютно бесплатно.
                  Сроки доставки зависят от Вашего региона. В среднем около 3-5 дней после
                  изготовления инерактивного стола.
                </div>
              </div>
            </div>
            <div class="acc_line"></div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                       class="collapsed">
                    <span></span>
                    <span>Сколько длится срок изготовления стола?</span>
                  </div>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Доставка в другие регионы осуществляется абсолютно бесплатно.
                  Сроки доставки зависят от Вашего региона. В среднем около 3-5 дней после
                  изготовления инерактивного стола.Доставка в другие регионы осуществляется абсолютно
                  бесплатно. Сроки доставки зависят от Вашего региона. В среднем около 3-5 дней после
                  изготовления инерактивного стола.
                </div>
              </div>
            </div>
            <div class="acc_line"></div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                       class="collapsed">
                    <span></span>
                    <span>Можно ли заказать стол по индивидуальным размерам?</span>
                  </div>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">Доставка в другие регионы осуществляется абсолютно бесплатно.
                  Сроки доставки зависят от Вашего региона. В среднем около 3-5 дней после
                  изготовления инерактивного стола.
                </div>
              </div>
            </div>
            <div class="acc_line"></div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                       class="collapsed">
                    <span></span>
                    <span>Как оплатить заказ?</span>
                  </div>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">Доставка в другие регионы осуществляется абсолютно бесплатно.
                  Сроки доставки зависят от Вашего региона. В среднем около 3-5 дней после
                  изготовления инерактивного стола.
                </div>
              </div>
            </div>
            <div class="acc_line"></div>
          </div>

          <div class="btn_wrap">
            <a href="#" class="btn">Показать больше информации</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>