<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="faq_wrap">
                    <h2>FAQ (Частые вопросы клиентов)</h2>
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default"
                             *ngFor="let a of accordion; let i = 'index'">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div data-toggle="collapse"
                                         data-parent="#accordion"
                                         [attr.href]="'#collapse' + i"
                                         class="{{i !== 0 ? 'collapsed' : ''}}">
                                        <span></span>
                                        <span>{{a.title}}</span>
                                    </div>
                                </h4>
                            </div>
                            <div [attr.id]="'collapse' + i"
                                 class="panel-collapse collapse {{i === 0 ? 'in' : ''}}">
                                <div class="panel-body">
                                    {{a.text}}
                                </div>
                            </div>

                            <div class="acc_line"
                                 *ngIf="!(accordion.length === i + 1)"></div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</section>