<section class="popular-sensor">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Самые популярные модели сенсорных смарт столов</h2>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="sensor-block">
          <div class="popular-img">
            <img src="/assets/img/popular1.png" alt="">
          </div>
          <h4>Сенсорный стол Smart А1</h4>
          <p>Для детского сада</p>
          <small>Intel i3, 8GB RAM, SSD 120</small>
          <a href="#" class="characteristic">Все характеристики смарт стола</a>
          <div class="sensor-price">
            <div class="sensor-price__left">
              <p>32" от <span><span>131 600</span> ₽</span></p>
              <p>32" от <span><span>131 600</span> ₽</span></p>
            </div>
            <a href="#" class="btn-blue">Выбрать и заказать</a>
          </div>
          <div class="clearfix"></div>
          <a href="#" class="present">+ подарок на сумму 19 800 Р</a>
          <a href="#" class="btn-present">
            <img src="/assets/img/btnPresent.png" alt="">
            <span>Смотреть подарки</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="sensor-block">
          <div class="popular-img">
            <img src="/assets/img/popular2.png" alt="">
          </div>
          <h4>Сенсорный стол Smart А1</h4>
          <p>Для детского сада</p>
          <small>Intel i3, 8GB RAM, SSD 120</small>
          <a href="#" class="characteristic">Все характеристики смарт стола</a>
          <div class="sensor-price">
            <div class="sensor-price__left">
              <p>32" от <span><span>131 600</span> ₽</span></p>
              <p>32" от <span><span>131 600</span> ₽</span></p>
            </div>
            <a href="#" class="btn-blue">Выбрать и заказать</a>
          </div>
          <div class="clearfix"></div>
          <a href="#" class="present">+ подарок на сумму 19 800 Р</a>
          <a href="#" class="btn-present">
            <img src="/assets/img/btnPresent.png" alt="">
            <span>Смотреть подарки</span>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12">
        <div class="sensor-block">
          <div class="popular-img">
            <img src="/assets/img/popular3.png" alt="">
          </div>
          <h4>Сенсорный стол Smart А1</h4>
          <p>Для детского сада</p>
          <small>Intel i3, 8GB RAM, SSD 120</small>
          <a href="#" class="characteristic">Все характеристики смарт стола</a>
          <div class="sensor-price">
            <div class="sensor-price__left">
              <p>32" от <span><span>131 600</span> ₽</span></p>
              <p>32" от <span><span>131 600</span> ₽</span></p>
            </div>
            <app-btn [styles]="{'background-color': '#0093d1', 'color': '#fff'}"
                     [hover]="{'background-color': 'transparent', 'color': '#0093d1'}">Выбрать и заказать</app-btn>
          </div>
          <div class="clearfix"></div>
          <a href="#" class="present">+ подарок на сумму 19 800 Р</a>
          <a href="#" class="btn-present">
            <img src="/assets/img/btnPresent.png" alt="">
            <span>Смотреть подарки</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>