.popular-sensor {
    margin-top: 48px;
}

.popular-sensor h2 {
    margin-bottom: 28px;
}

.popular-img {
    border: 1px solid #cccccc;
    border-radius: 6px;
    overflow: hidden;
    height: 250px;
}

.sensor-block h4 {
    color: #000;
    font-family: 'PTSans-Bold';
    font-size: 22px;
    margin: 18px 0 2px;
}

.sensor-block p {
    font-family: 'PTSans-Bold';
    font-size: 18px;
    color: #333333;
    margin-bottom: 5px;
}

.sensor-block small {
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.sensor-block .characteristic {
    font-size: 14px;
    color: #0093d1;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.sensor-block > .characteristic:hover {
    text-decoration: none;
}

.sensor-price {
    margin-top: 30px;
}

.sensor-price__left {
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}

.sensor-price__left p {
    color: #333333;
    font-family: 'PTSans-Bold';
}

.sensor-price__left p span {
    color: #00573d;
}

.sensor-price .btn-blue {
    vertical-align: middle;
}

.sensor-block .present {
    display: block;
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    color: #0093d1;
    text-decoration: underline;
    cursor: pointer;
}

.sensor-block > .present:hover {
    text-decoration: none;
}
.btn-present {
    width: 220px;
    height: 40px;
    background-color: #dc373d;
    border-radius: 5px;
    margin: 20px auto 0;
    display: block;
}

.btn-present:hover span {
    text-decoration: none;
}

.char_block{
    overflow: hidden;
}

.my-model-calc{
    margin-top: 60px;
}
.my-model-calc h3 {
    font-size: 26px;
    font-family: 'PTSans-Bold';
}

.my-model-calc p {
    max-width: 600px;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 28px;
}



.popup_2{
    max-width: 720px;
    background-color: #fff;
    text-align: center;
    margin: 0 30px;
}
.popup_2 h2{
    font-family: 'PTSans-Bold';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.popup_2 p{
    margin-top: 20px;
    font-family: 'PTSans-Bold';
    font-size: 16px;
}
.popup_2 h3{
    font-family: 'PTSans-Bold';
    font-size: 30px;
    line-height: 30px;
}


.popup_present{
    padding: 10px;
}
.popup_1{
    max-width: 700px;
    border-radius: 5px;
    font-size: 0;
    background-color: #fff;
}
.popup_1 h2{
    font-family: 'PTSans-Bold';
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.popup_1 .number {
    font-size: 36px;
    font-family: 'PTSans-Bold';
    font-style: italic;
    width: 50px;
    height: 50px;
    background-color: #0093d1;
    border: 1px solid #0093d1;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: top;
}
.popup_part{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.popup_part > div:last-child{
    width: calc(100% - 70px);
    float: right;
}
.popup_part div:last-child p{
    font-size: 20px;
    font-family: 'PTSans-Bold';
}
.popup_part div:last-child span{
    color: #666666;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.wrap_num{
    display: inline-block;
    vertical-align: top;
    width: 50px;
}
.num_img{
    background-image: url('/assets/img/popup1.jpg');
    margin-top: 20px;
}

