<section class="capability">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Возможности интерактивных смарт столов нашего производства</h2>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-8">
                <img class="capability_img" src="/assets/img/capabilityMain.png" alt="">
            </div>
            <div class="col-md-4">
                <ul>
                    <li *ngFor="let c of capability">
                        <h5>{{c.label}}</h5>
                        <p>{{c.text}}</p>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>