<section class="capability">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Возможности интерактивных смарт столов нашего производства</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-8">
        <img class="capability_img" src="/assets/img/capabilityMain.png" alt="">
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <h5>Любой размер, форма и цвет</h5>
            <p>Они могут быть не больше журнального столика или иметь, например, диагональ 3 метра.</p>
          </li>
          <li>
            <h5>Надежность</h5>
            <p>Сенсорные столы предназначены для использования в общественных местах, они являются
              вандалоустойчивыми</p>
          </li>
          <li>
            <h5>Простота управления</h5>
            <p>Стол может реагировать как на прикосновения, так и на бесконтактные движения</p>
          </li>
          <li>
            <h5>Яркость и четкость изображения</h5>
            <p>Multi-touch столы имеют высокую четкость изображения, сочную и яркую картинку</p>
          </li>
          <li>
            <h5>Программное обеспечение на русском языке</h5>
            <p>Большой выбор программ на русском (от образовательных до развлекательных), интуитивно
              понятная программная оболочка и собственный штат разработчиков.</p>
          </li>
          <li>
            <h5>Многопользовательское использование</h5>
            <p>Сенсорный стол может быть оснащен от 2 до 255 одновременных касаний</p>
          </li>
          <li>
            <h5>Все возможности современного компьютера:</h5>
            <p>Операционная система WIN 10 x64 и Wi-Fi</p>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>