
.variant {
    margin-top: 60px;
}

.variant h3 {
    font-size: 26px;
    font-family: 'PTSans-Bold';
}

.variant p {
    max-width: 600px;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 28px;
}

.variant-question {
    padding: 20px 0;
    height: 220px;
    margin-top: 34px;
    background-color: #00573d;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(9, 12, 18, 0.2);
    position: relative;
}

.variant-question img {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.variant-question h3 {
    color: #fff;
    font-family: 'PTSans-Bold';
    font-size: 24px;
}

.variant-question p {
    font-size: 14px;
    color: #fff;
}

.text_under {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 14px;
    display: block;
}


@media screen and (max-width: 1199px) {

    .variant p{
        margin-bottom: 6px;
    }
    .variant-question{
        padding: 12px 0;
    }
    .variant-question h3{
        line-height: 24px;
    }
}

@media screen and (max-width: 991px) {

    .variant-question img{
        left: 4px;
    }
    .text_under{
        margin-top: 2px;
    }
}

@media screen and (max-width: 767px) {
    .variant{
        margin-top: 10px;
    }
    .variant-question{
        height: auto;
    }
}