<section class="variant">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="variant-question">
          <img src="/assets/img/man.png" class="" alt="">
          <div class="col-md-7 col-md-offset-4 col-sm-offset-5 col-sm-7">
            <h3>Не нашли нужны параметры или характеристики для себя?</h3>
            <p>Мы делаем любые интерактивные столы на заказ. Оставьте свой номер и мы предложногожим
              решение!</p>
            <app-question-form></app-question-form>
            <span class="text_under">Нажимая кнопку "ЖДУ ЗВОНКА" я принимаю Политику конфиденциальности и и даю согласие на обработку персональных данных</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>