<section class="variant">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-lg-offset-3 col-sm-7 col-sm-offset-5">
        <h3>Вы также можете собрать собственную модель по Вашим требованиям.</h3>
        <p>Например Вы можете выбрать диагональ экрана, поставить сенсорную пленку, моторизированный кронштейн
          (вверх вниз), регулировку наклона от 0 до 90 и много другое! Соберите свой вариант смарт стола прямо
          сейчас!</p>
        <a href="#" class="btn">Собрать свой вариант стола</a>
      </div>

      <div class="col-xs-12">
        <div class="variant-question">
          <img src="/assets/img/man.png" class="" alt="">
          <div class="col-md-7 col-md-offset-4 col-sm-offset-5 col-sm-7">
            <h3>Не нашли нужны параметры или характеристики для себя?</h3>
            <p>Мы делаем любые интерактивные столы на заказ. Оставьте свой номер и мы предложногожим
              решение!</p>
            <app-question-form></app-question-form>
            <span class="text_under">Нажимая кнопку "..." я принимаю Политику конфиденциальности и и даю согласие на обработку персональных данных</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>