.questions {
    max-width: 730px;
    height: 220px;
    background-color: #00573d;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 20px rgba(9, 12, 18, 0.2);
    text-align: center;
    padding: 76px 38px 10px;
    margin: -90px auto 0;
    position: relative;
    z-index: 0;
}

.questions h3 {
    color: #fff;
    font-family: 'PTSans-Bold';
    font-size: 24px;
    margin-bottom: 14px;
}

.text_under {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 14px;
    display: block;
}